.panel-heading2{
line-height:50px;
padding:0 15px;
min-height:34px;
border-left:10px solid #d8da7c;
border-right:1px solid #ebecbb;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
position:relative;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.05);
-moz-box-shadow:inset 0 -2px 0 rgba(0,0,0,.05);
-webkit-box-shadow:inset 0 -2px 0 rgba(0,0,0,.05);
} 

